<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamboo.system.mapper.UserMapper">

	<sql id="Base_Column_List">
		`id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,
		`create_by`,`create_time`,`update_by`,`update_time`
	</sql>

	<select id="get" resultType="com.bamboo.system.domain.User">
		select <include refid="Base_Column_List" />
		from sys_user where id = #{value}
	</select>

	<select id="list" resultType="com.bamboo.system.domain.User">
		select <include refid="Base_Column_List" />
		from sys_user
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_user
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.bamboo.system.domain.User"
		useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(
		`username`,
		`name`,
		`password`,
		`dept_id`,
		`email`,
		`mobile`,
		`status`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`
		)
		values
		(
		#{username},
		#{name},
		#{password},
		#{deptId},
		#{email},
		#{mobile},
		#{status},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime}
		)
	</insert>

	<update id="update" parameterType="com.bamboo.system.domain.User">
		update sys_user
		<set>
			<if test="username != null">`username` = #{username}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{userId}
	</update>

	<delete id="remove">
		delete from sys_user where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_user where id in
		<foreach item="userId" collection="array" open="(" separator=","
			close=")">
			#{userId}
		</foreach>
	</delete>

</mapper>